{% extends '_layout/layout-frontend.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="container">

        <div id="header">
            <h2>
                {{ detail.profile.user.username }}

                <a href="" class="float-right btn btn-sm btn-outline-primary">
                        <i class="fa fa-pencil-alt"></i>
                        {% trans from 'global' %}edit{% endtrans %}
                </a>
            </h2>
        </div>

        <hr>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ url('home-index') }}">{{ eryse.client.name }}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ url('profile-list') }}">{% trans from 'global' %}profiles{% endtrans %}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ detail.profile.user.username }}
                </li>
            </ol>
        </nav>

        <div class="row text-muted text-uppercase">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <dl class="row">
                    <dt class="col-sm-4">
                        {% trans from 'profile' %}role{% endtrans %}
                    </dt>
                    <dd class="col-sm-8" style="color: {{ detail.profile.role.color }};">
                        {{ detail.profile.role.name|trans({}, 'profile') }}
                    </dd>

                    <dt class="col-sm-4">
                        {% trans from 'profile' %}occupation{% endtrans %}
                    </dt>
                    <dd class="col-sm-8">
                        {{ detail.profile.occupation ?? "---" }}
                    </dd>
                </dl>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4">
                <dl class="row">
                    <dt class="col-sm-4">
                        {% trans from 'profile' %}state{% endtrans %}
                    </dt>
                    <dd class="col-sm-8">
                        {{ detail.profile.state ?? "---" }}
                    </dd>

                    <dt class="col-sm-4">
                        {% trans from 'profile' %}city{% endtrans %}
                    </dt>
                    <dd class="col-sm-8">
                        {{ detail.profile.city ?? "---" }}
                    </dd>
                </dl>
            </div>
        </div>
    </div>

{% endblock %}
