{% extends 'layout-administration.html.twig' %}

{% block title %}{% trans from 'administration' %}roles{% endtrans %}{% endblock %}

{% block body %}

    <div class="container">

        <h2>{% trans from 'administration' %}dashboard{% endtrans %}</h2>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ url('administration-dashboard') }}">
                        {{ eryse.client.name }}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ url('administration-dashboard') }}">
                        {% trans from 'administration' %}dashboard{% endtrans %}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% trans from 'administration' %}roles{% endtrans %}
                </li>
            </ol>
        </nav>

        <div class="row">
            <div class="col col-xs-12">
                <h3>{% trans from 'administration' %}roles{% endtrans %}</h3>

                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans from 'administration' %}role-name{% endtrans %}</th>
                        <th>{% trans from 'administration' %}role-name-translated{% endtrans %}</th>
						<th>{% trans from 'administration' %}role-users{% endtrans %}</th>
						<th>{% trans from 'administration' %}role-color{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for role in roles %}
                            <tr>
                                <td>
                                    <a href="{{ url('administration-user-role-users', {"role": role.getName()}) }}">
                                        {{ role.getName() }}
                                    </a>
                                </td>
                                <td>
                                    <strong style="color: {{ role.getColor() }};">
                                        [{{ role.getName()|trans({}, "global") }}]
                                    </strong>
                                </td>
                                <td>
                                    {% transchoice role.getUsers()|length from "user" %}
                                        {0} %count% users-zero-count|{1} %count% users-one-count|]2,4] %count% users-many-count|]5,Inf[ %count% users-inf-count
                                    {% endtranschoice %}
                                </td>
                                <td>
                                    <span class="badge" style="background-color: {{ role.getColor() }}">&nbsp;</span>
                                    <span style="color:{{ role.getColor() }};">{{ role.getColor() }}</span>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>

    </div>


{% endblock %}
