{% extends 'layout-frontend.html.twig' %}

{% block title %}{% trans from 'administration' %}role-users{% endtrans %}{% endblock %}

{% block body %}

    <div class="container">

        <h2>{% trans from 'administration' %}role-users{% endtrans %}</h2>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ url('home-index') }}">{{ eryseClient.name }}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ url('administration-user-role-index') }}">
                        {% trans from 'administration' %}roles-menu{% endtrans %}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% trans from 'administration' %}dashboard{% endtrans %}
                </li>
            </ol>
        </nav>

        <div class="row">
            {% include '_partials/admin-navigation.html.twig' %}

            <div class="col col-xs-12 col-sm-9">
                <h3>
                    {{ role.getName() }}
                    <span class="badge badge-primary">{{ users.getTotalItemCount }}</span>
                </h3>

                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans from 'administration' %}role-users-id{% endtrans %}</th>
                        <th>{% trans from 'administration' %}role-users-name{% endtrans %}</th>
                        <th>{% trans from 'administration' %}role-users-actions{% endtrans %}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.getId() }}</td>
                            <td>
                                <a href="{{ url("user-view", {"id": user.getId(), "username": user.getUsername()}) }}">
                                    {{ user.getUsername() }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ url("user-edit", {"id": user.getId(), "username": user.getUsername()}) }}" class="btn btn-sm btn-primary" title="{% trans from 'administration' %}users-edit{% endtrans %}">
                                    <i class="fa fa-fw fa-user-edit"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(users) }}
            </div>
        </div>

    </div>


{% endblock %}
