{% extends 'layout-frontend.html.twig' %}

{% block title %}Home{% endblock %}
{% block bodyClass %}bg-primary{% endblock %}

{% block body %}

    <div class="container">

        <div class="row justify-content-center">
            <div class="card col-xs-12 col-sm-6 col-md-5">
                <div class="card-body">
                    <h5 class="card-title">{% trans from 'profile' %}two-step-auth{% endtrans %}</h5>

                    {% if authenticationError %}
                        <div class="alert alert-danger"><i
                                    class="fa fa-fw fa-ban"></i> {{ authenticationError|trans(authenticationErrorData, 'security') }}
                        </div>
                    {% endif %}

                    <p>{% trans from 'profile' %}two-step-auth-desc{% endtrans %}</p>

                    <form action="{{ path("2fa_login_check") }}" method="post">

                        {# CODE #}
                        {# -------------------------------------------------------------------------------------------------------------- #}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="auth-icon"><i class="fa fa-fw fa-key"></i></span>
                                </div>
                                <input id="codeInput" name="_auth_code"
                                       placeholder="{% trans from 'profile' %}login-code{% endtrans %}"
                                       class="form-control form-control-lg" type="text" required="required"
                                       maxlength="6">
                            </div>
                        </div>

                        <p class="widget"><label for="_trusted"><input id="_trusted" type="checkbox"
                                                                       name="{{ trustedParameterName }}"/> {{ "scheb_two_factor.trusted"|trans }}
                            </label></p>

                        {# CSRF PROTECTION #}
                        {# -------------------------------------------------------------------------------------------------------------- #}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {# SIGN IN BUTTON #}
                        {# -------------------------------------------------------------------------------------------------------------- #}
                        <div class="form-group">
                            <button type="submit"
                                    class="btn btn-primary btn-block">{% trans from 'profile' %}login-sign-in{% endtrans %}</button>
                        </div>

                        {# LOST ACCESS #}
                        {# -------------------------------------------------------------------------------------------------------------- #}
                        <div class="form-group text-center">
                            <small>
                                <p class="mt-5">{% trans from 'profile' %}two-step-auth-help-desc{% endtrans %}</p>
                                <a href="https://support.google.com/accounts/answer/185834">
                                    {% trans from 'profile' %}two-step-auth-help-link{% endtrans %}
                                </a>
                                {#<p class="mt-5">{% trans from 'profile' %}login-no-auth-desc{% endtrans %}</p>#}
                                {#<a href="{{ url('profile-request-email-code') }}">{% trans from 'profile' %}login-no-auth{% endtrans %}</a>#}
                            </small>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>


{% endblock %}
