{% extends '_layout/layout-frontend.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

	<div class="container">

		<h2>Registrace</h2>
		<hr>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ url('home-index') }}">{{ eryse.client.name }}</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ url('profile-list') }}">{% trans from 'global' %}profiles{% endtrans %}</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					{% trans from 'global' %}registration{% endtrans %}
				</li>
			</ol>
		</nav>

		<div class="row">
			<div class="col-md-5">
				<h3>{% trans from 'profile' %}registration-fee{% endtrans %}</h3>
				<p>
					{% trans with {'%appname%': eryse.client.name} from 'global' %}registration-fee-desc{% endtrans %}
				</p>


				<a href="{{ url('profile-membership') }}" class="btn btn-primary">
					<i class="fa fa-fw fa-trophy"></i> {% trans from 'profile' %}membership-traits{% endtrans %}</a>
				<div class="btn btn-light">
					{% trans from 'profile' %}membership-price{% endtrans %}:
					<strong>{{ eryse.client.membership.price }} Kč </strong>
				</div>
			</div>

			<div class="col-md-7">
				<h3>Formulář</h3>
				{% for flashMessage in app.session.flashbag.get('error') %}
					<div class="alert alert-danger">{{ flashMessage }}</div>
				{% endfor %}

				{{ form_start(form) }}
				{{ form_row(form.username) }}
				{{ form_row(form.email) }}
				{{ form_row(form.plainPassword.first) }}
				{{ form_row(form.plainPassword.second) }}
				{{ form_rest(form) }}

				<button type="submit" class="btn btn-success">
					<i class="fa fa-fw fa-check"></i>
					{% trans from 'profile' %}register{% endtrans %}
				</button>
				{{ form_end(form) }}

				{#<form>#}
				{#<div class="form-group">#}
				{#<label for="nickname">Přezdívka</label>#}
				{#<input type="text" class="form-control" id="nickname" aria-describedby="nickname-help" placeholder="Tvoje přezdívka">#}
				{#<small id="nickname-help" class="form-text text-muted">Tvoje přezdívka musí být unikátní.</small>#}
				{#</div>#}
				{#<div class="form-group">#}
				{#<label for="exampleInputPassword1">Password</label>#}
				{#<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
				{#</div>#}
				{#<div class="form-check">#}
				{#<input type="checkbox" class="form-check-input" id="exampleCheck1">#}
				{#<label class="form-check-label" for="exampleCheck1">Check me out</label>#}
				{#</div>#}
				{#<button type="submit" class="btn btn-primary">Submit</button>#}
				{#</form>#}
			</div>
		</div>
	</div>


{% endblock %}
