{% extends '_layout/layout-administration.html.twig' %}

{% block title %}{% trans from 'administration' %}profiles{% endtrans %}{% endblock %}

{% block body %}

    <div class="container">

        <h2>{% trans from 'administration' %}profiles{% endtrans %}</h2>

        <hr>

        {{ renderBreadcrumbs(bcs) }}

        <div class="row">
            <div class="col col-xs-12">

                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#searchForm" data-toggle="collapse">
                            <i class="fa fa-fw fa-search"></i>
                            {% trans from 'administration' %}profile.list.toggle-search{% endtrans %}
                        </a>
                    </li>

                    <li class="list-inline-item">
                        {% if not searchForm.vars.submitted %}
                            {% if displayHidden %}
                                <a href="{{ url("administration-profiles-list") }}">
                                    <i class="fa fa-fw fa-eye-slash"></i>
                                    {% trans from 'administration' %}profile.list.hide-hidden{% endtrans %}
                                </a>
                            {% else %}
                                <a href="{{ url("administration-profiles-list", {"displayHidden": true}) }}">
                                    <i class="fa fa-fw fa-eye"></i>
                                    {% trans from 'administration' %}profile.list.display-hidden{% endtrans %}
                                </a>
                            {% endif %}
                        {% endif %}
                    </li>
                </ul>

                {# Search form #}
                {# -------------------------------------------------------------------------------------------------- #}
                <div id="searchForm" class="collapse {% if searchForm.vars.submitted %}show{% endif %}">
                    {{ form_start(searchForm) }}
                    {{ form_errors(searchForm) }}

                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            {{ form_row(searchForm.id) }}
                        </div>

                        <div class="col-xs-12 col-sm-3">
                            {{ form_row(searchForm.role) }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-fw fa-search"></i>
                        {% trans from 'global' %}find{% endtrans %}
                    </button>

                    <a href="{{ url('administration-profiles-list') }}" class="btn btn-outline-primary">
                        <i class="fa fa-fw fa-times"></i>
                        {% trans from 'global' %}reset{% endtrans %}
                    </a>
                    {{ form_end(searchForm) }}
                </div>

                {# Table list #}
                {# -------------------------------------------------------------------------------------------------- #}
                <hr>
                <h3>{% trans from 'administration' %}profiles-list{% endtrans %}</h3>

                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th>{% trans from 'global' %}id{% endtrans %}</th>
                        <th>{% trans from 'administration' %}profile.list.user.username{% endtrans %}</th>
                        <th>{% trans from 'administration' %}profile.createdAt{% endtrans %}</th>
                        <th>{% trans from 'administration' %}profile-role{% endtrans %}</th>
                        <th class="text-right">{% trans from 'administration' %}profile-actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if profiles|length == 0 %}
                        <tr class="text-center text-muted">
                            <td colspan="99">{% trans from 'administration' %}no-results{% endtrans %}</td>
                        </tr>
                    {% endif %}
                    {% for profile in profiles %}
                        <tr>
                            <td>{{ profile.id }}</td>
                            <td>{{ userRepository.find(profile.userId).username }}</td>
                            <td>{{ profile.createdAt|ago }}</td>
                            <td>
                                <strong style="color: {{ profile.role.color }};">
                                    [{{ profile.role.name|trans({}, "global") }}]
                                </strong>
                            </td>
                            <td class="text-right">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="{{ url('administration-profiles-list', {"id": profile.id()}) }}">
                                            <i class="fa fa-fw fa-user"></i>
                                            {% trans from 'administration' %}view-user{% endtrans %}
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{{ url('administration-profile-edit', {"id": profile.id()}) }}">
                                            <i class="fa fa-fw fa-edit"></i>
                                            {% trans from 'administration' %}profile.list.edit-profile{% endtrans %}
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                {{ knp_pagination_render(profiles) }}

            </div>
        </div>

    </div>


{% endblock %}
