{% extends 'layout-administration.html.twig' %}

{% block title %}{% trans from 'administration' %}users{% endtrans %}{% endblock %}

{% block body %}

    <div class="container">

        <h2>{% trans from 'administration' %}users{% endtrans %}</h2>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ url('administration-dashboard') }}">
                        {{ eryseClient.name }}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ url('administration-dashboard') }}">
                        {% trans from 'administration' %}dashboard{% endtrans %}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% trans from 'administration' %}users{% endtrans %}
                </li>
            </ol>
        </nav>

        <div class="row">
            <div class="col col-xs-12">
                <h3>{{ user.getUsername() }}</h3>

                {{ form(userForm) }}
            </div>
        </div>

    </div>


{% endblock %}
