{% extends 'layout-administration.html.twig' %}

{% block title %}{% trans from 'administration' %}users{% endtrans %}{% endblock %}

{% block body %}

    <div class="container">

        <h2>{% trans from 'administration' %}users{% endtrans %}</h2>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ url('administration-dashboard') }}">
                        {{ eryse.client.name }}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ url('administration-dashboard') }}">
                        {% trans from 'administration' %}dashboard{% endtrans %}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ url('administration-users-index') }}">
                        {% trans from 'administration' %}users{% endtrans %}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ user.getUsername() }}
                </li>
            </ol>
        </nav>

        <div class="row">
            <div class="col col-xs-12">
                <h3>
                    {{ user.getUsername() }}&nbsp;
                    <small class="badge badge-light" style="color: {{ user.getRoleEntity().getColor() }};">
                        [{{ user.getRole()|trans({}, "global") }}]
                    </small>
                </h3>

                {{ form(userForm) }}
            </div>
        </div>

    </div>


{% endblock %}
