{% extends 'layout-frontend.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

	<div class="container">

		<h2>{% trans from 'profile' %}delete{% endtrans %}</h2>
		<hr>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ url('home-index') }}">{{ eryseClient.name }}</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ url('profile-view') }}">{{ app.user.getUsername() }}</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ url('user-settings') }}">{% trans from 'profile' %}settings{% endtrans %}</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					{% trans from 'profile' %}delete{% endtrans %}
				</li>
			</ol>
		</nav>


		<div class="row">

			<div class="col-xs-12 col">
				<div class="card text-white bg-danger mb-5">
					<div class="card-header">
						<i class="fa fa-fw fa-exclamation-triangle"></i>
						{% trans from 'profile' %}delete-warning{% endtrans %}
					</div>
					<div class="card-body">
						<p class="card-text">
							{% trans from 'profile' %}delete-warning-desc{% endtrans %}
						</p>
					</div>
				</div>

				<a href="{{ url('user-settings') }}" class="btn btn-lg btn-outline-primary float-left">
					<i class="fa fa-fw fa-arrow-left"></i>
					{% trans from 'global' %}return-back{% endtrans %}
				</a>

				<div class="btn btn-lg btn-outline-danger float-right">
					<i class="fa fa-fw fa-times"></i>
					{% trans from 'profile' %}delete-profile{% endtrans %}
				</div>
			</div>
		</div>
	</div>


{% endblock %}
