{% extends '_layout/layout-frontend.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

	<div class="container">

		<h2>{% trans from 'profile' %}settings-two-step-auth{% endtrans %}</h2>
		<hr>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ url('home-index') }}">{{ eryse.client.name }}</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ url('profile-view') }}">{{ app.user.getUsername() }}</a>
				</li>
				<li class="breadcrumb-item">
					<a href="{{ url('user-settings') }}">{% trans from 'profile' %}settings{% endtrans %}</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					{% trans from 'profile' %}settings-two-step-auth{% endtrans %}
				</li>
			</ol>
		</nav>

		<div class="row">
			<div class="col col-xs-12 col-md-6">
				<h3 class="mb-4">{% trans from 'profile' %}profiles-tsa-title{% endtrans %}</h3>
				{% trans from 'profile' %}profiles-tsa-desc{% endtrans %}

				<img src="{{ asset('/images/profile/settings/two-step-auth.png') }}" class="img-fluid" alt="{% trans from 'profile' %}settings-two-step-auth{% endtrans %}"/>
			</div>

			<div class="col col-xs-12 col-md-6">
				<h3 class="mb-4">{% trans from 'profile' %}profiles-tsa-creating-code{% endtrans %}</h3>
				<ol>
					<li>{% trans from 'profile' %}profiles-tsa-step-1{% endtrans %}<br>

						<a href="http://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" class="btn btn-outline-primary my-4" target="_blank">
							<i class="fab fa-fw fa-google-play"></i> Google Play </a>

						<a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" class="btn btn-outline-primary my-4" target="_blank">
							<i class="fab fa-fw fa-app-store-ios"></i> Apple store </a>
					</li>
					<li>{% trans from 'profile' %}profiles-tsa-step-2{% endtrans %}
					</li>
					<li>{% trans from 'profile' %}profiles-tsa-step-3{% endtrans %}

						<div class="col col-xs-12 text-center">
							<div class="card m-4">
								<div class="card-body">
									<img src="{{ qrCode }}" alt="{% trans from 'profile' %}profiles-tsa-qr-code{% endtrans %}" style="max-width: 100%;"/>

									<p class="text-muted m-4">{% trans from 'profile' %}profiles-tsa-qr-code-desc{% endtrans %}</p>
								</div>
							</div>
						</div>
					</li>

					<li>{% trans from 'profile' %}profiles-tsa-step-4{% endtrans %}

						<form method="post" class="form-inline my-4">
							<div class="form-group mb-2">
								<label for="activation-code" class="sr-only">{% trans from 'profile' %}profiles-tsa-generated-code{% endtrans %}</label>
								<input name="activation-code" type="text" class="form-control" id="activation-code" placeholder="{% trans from 'profile' %}profiles-tsa-generated-code{% endtrans %}">
							</div>
							<button type="submit" class="btn btn-primary mb-2 ml-2">
								<i class="fa fa-fw fa-check"></i>
								{% trans from 'global' %}enable{% endtrans %}
							</button>
						</form>
					</li>
				</ol>


			</div>
		</div>

		{# TODO: Create footer, this is too low #}
	</div>


{% endblock %}
