<form class="form" role="form" id="login" action="{{ url('user-security-login') }}"
      method="{{ constant('\EryseClient\\Server\\UserSecurity\\Authenticator\\UserLoginFormAuthenticator::METHOD') }}">

    {# AUTH #}
    {# -------------------------------------------------------------------------------------------------------------- #}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="auth-icon"><i class="fa fa-fw fa-user"></i></span>
            </div>

            <input id="emailInput"
                   name="{{ constant('\EryseClient\\Server\\UserSecurity\\Authenticator\\UserLoginFormAuthenticator::USER_AUTH') }}"
                   placeholder="{% trans from 'profile' %}login-auth{% endtrans %}"
                   class="form-control form-control-sm" type="text" required="required">
        </div>
    </div>

    {# PASSWORD #}
    {# -------------------------------------------------------------------------------------------------------------- #}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="password-icon"><i class="fa fa-fw fa-lock"></i></span>
            </div>

            <input id="passwordInput"
                   name="{{ constant('\EryseClient\\Server\\UserSecurity\\Authenticator\\UserLoginFormAuthenticator::USER_PASSWORD') }}"
                   placeholder="{% trans from 'profile' %}login-password{% endtrans %}"
                   class="form-control form-control-sm" type="password" required="required">
        </div>
    </div>

    {# REMEMBE ME #}
    {# -------------------------------------------------------------------------------------------------------------- #}
    <div class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me"/>

            <label class="form-check-label"
                   for="remember-me">{% trans from 'profile' %}login-remember-me{% endtrans %}</label>
        </div>
    </div>

    {# CSRF PROTECTION #}
    {# -------------------------------------------------------------------------------------------------------------- #}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {# SIGN IN BUTTON #}
    {# -------------------------------------------------------------------------------------------------------------- #}
    <div class="form-group">
        <button type="submit"
                class="btn btn-primary btn-block">{% trans from 'profile' %}login-sign-in{% endtrans %}</button>
    </div>

    {# FORGOT PASSWORD #}
    {# -------------------------------------------------------------------------------------------------------------- #}
    <div class="form-group text-center">
        <small>
            <a href="{{ url('user-request-reset-password') }}">{% trans from 'profile' %}login-forgot-pass{% endtrans %}</a>
        </small>
    </div>
</form>
