{# @var loginForm \EryseClient\Server\UserSecurity\Form\Type\LoginType #}
{{ form_start(loginForm) }}

{# AUTH #}
{# -------------------------------------------------------------------------------------------------------------- #}
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="auth-icon">
                <i class="fa fa-fw fa-user"></i>
            </span>
        </div>

        {{ form_widget(loginForm.userAuth) }}
    </div>
</div>

{# PASSWORD #}
{# -------------------------------------------------------------------------------------------------------------- #}
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="password-icon">
                <i class="fa fa-fw fa-lock"></i>
            </span>
        </div>

        {{ form_widget(loginForm.userPassword) }}
    </div>
</div>

{# REMEMBE ME #}
{# -------------------------------------------------------------------------------------------------------------- #}
<div class="form-group">
    <div class="form-check">

        {{ form_widget(loginForm.rememberMe) }}
    </div>
</div>

{# SIGN IN BUTTON #}
{# -------------------------------------------------------------------------------------------------------------- #}
<div class="form-group">

    {{ form_row(loginForm.submit) }}
</div>

{# FORGOT PASSWORD #}
{# -------------------------------------------------------------------------------------------------------------- #}
<div class="form-group text-center">
    <small>
        <a href="{{ url('user-password-request-reset') }}">{% trans from 'profile' %}login-forgot-pass{% endtrans %}</a>
    </small>
</div>

{{ form_rest(loginForm) }}

{{ form_end(loginForm) }}